:root {
    --bg-color: #fff;
    --text-color: #000;
    --button-bg: #f7f7f7;
    --button-hover: #e0e0e0;
    --button-active: #d0d0d0;
    --display-bg: #f9f9f9;
    --border-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.calculator {
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    transition: background 0.3s;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#dark-mode-toggle {
    border: none;
    background: var(--button-bg);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

#dark-mode-toggle:hover {
    background: var(--button-hover);
}

#display {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: right;
    padding: 5px 10px;
    background: var(--display-bg);
    color: var(--text-color);
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 1.2em;
    border: none;
    background: var(--button-bg);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: var(--button-hover);
}

button:active {
    background: var(--button-active);
}

/* Dark mode styles */
body.dark-mode {
    --bg-color: #121212;
    --text-color: #ffffff;
    --button-bg: #1e1e1e;
    --button-hover: #333333;
    --button-active: #444444;
    --display-bg: #1e1e1e;
    --border-color: #444;
}

body.banan-mode {
    --bg-color: #fbec5d;
    --text-color: #ffffff;
    --button-bg: #eed365;
    --button-hover: #d0b339;
    --button-active: #74370d;
    --display-bg: #421603;
    --border-color: #444;
}

body.strawb-mode {
    --bg-color: #ae1313;
    --text-color: #ffffff;
    --button-bg: #df3e3e;
    --button-hover: #f27c7c;
    --button-active: #5e8121;
    --display-bg: #87b228;
    --border-color: #444;
}

body.avocad-mode {
    --bg-color: #74d533;
    --text-color: #ffffff;
    --button-bg: #86d83b;
    --button-hover: #99dc44;
    --button-active: #bde354;
    --display-bg: #d9e861;
    --border-color: #444;
}